---
import Layout from "@layouts/Layout.astro";
import PocketBase from 'pocketbase';
const pb = new PocketBase('http://bosnaponosna.duckdns.org:1917');

const booklist = await pb.collection('knjige').getList(1, 50, {expand: "tagovi"});

---

<Layout title="Knjige">
	<main>
		<h1> Knjige</h1>
		<div class="table">
			{booklist.items.map((book) =>
				<div class="row">
					<div class="head">
						<h4><bold>{book.naslov}</bold> - ({book.autor})</h4>
						<div class="link">
							{book.fajl.map((path:string) =>
								<a href={"http://bosnaponosna.duckdns.org/"+path}>[{path.match("(\.[^.]+)$")[0]}]</a>
							)}
						</div>
					</div>
					<p>{book.opis}</p>
				</div>)}
		</div>
	</main>
</Layout>

<style>
	a {
		margin: 0em 2em;
		color: var(--link);
		text-decoration: none;
	}
	h4 {
		color: var(--title);
		margin-bottom: 0;
	}
	p {
		margin-top: 0px;
		font-size: 0.9em;
		padding: 0em 1.5em;
	}
	.table {
		background-color: var(--bg-a);
	}
	.head {
		display:flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.link {
		padding: 1em 0em;
		display: flex;
		flex-direction: column;
		place-items: center;
	}
	.row {
		padding: 0em 1em;
		padding-bottom: 1em
	}
	.row:nth-child(2) {
		background-color: var(--bg-a2);
	}
</style>
