---
import Layout from "@layouts/Layout.astro";
import PocketBase from 'pocketbase';
const pb = new PocketBase('http://bosnaponosna.duckdns.org:1917');

const booklist = await pb.collection('knjige').getList(1, 50, {expand: "tagovi"});

---

<Layout title="Knjige">
	<main>
		<h1> Knjige</h1>
		<table>
			{booklist.items.map((book) =>
				<tr>
					<td>
						<h4><bold>{book.naslov}</bold> - ({book.autor})</h4>
						<p>{book.opis}</p>
					</td>
					<td style="display: flex; flex-direction: column; align-items: center;">{book.fajl.map((path:string) =>
							<a href={"http://bosnaponosna.duckdns.org/"+path}>[{path.match("(\.[^.]+)$")[0]}]</a>
						)}
					</td>
				</tr>)}
		</table>
	</main>
</Layout>

<style>
	a {
		padding: 0em 1em;
		color: var(--link);
		text-decoration: none;
	}
	h4 {
		color: var(--title);
	}
	p {
		font-size: 0.9em;
		padding-left: 1em;
	}
	table {
		width: 100%;
		background-color: var(--bg-a);
		padding: 1em;
	}
	tr {
		border-bottom: 10px solid black;
		/*padding: 0em 0em 1em 0.5em;*/
	}
	td > * {
		margin: 0.5em;
	}
</style>
