---
import Layout from "@layouts/Layout.astro";
import PocketBase from 'pocketbase';
const pb = new PocketBase('http://bosnaponosna.duckdns.org:1917');

const resultList = await pb.collection('blogovi').getList(1, 50, {expand: "autor, tagovi"});

---

<Layout title="Blog">
	<main>
		<h1>Blog</h1>
		<div class="blog">
			{resultList.items.map((blog) => (
				<div class="post">
					<h2>{blog.naslov}</h2><h4>{(blog.expand.autor as any).name} {blog.created}</h4>
					{blog.tekst}
				</div>
			))}
		</div>
	</main>
</Layout>
<style>
	.blog {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
	.post {
		background-color: var(--bg);
		padding: 1em;
		border-radius: 0.2em;
		transition: 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
	}
	.post:hover{
		background-color: var(--focus);
		transition: 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
	}
</style>
