---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
---

<Layout title="Tehnokratski Pokret BiH">
	<main>
		<h1>
			Tehnokratski Pokret <span class="text-gradient">Bosne i Hercegovine</span>
		</h1>
		<div class="annotation">
			<p><em>
				Ustajte prezreni na svijetu,<br />
				Svi sužnji koje mori glad!<br />
				To razum grmi u svom gnjevu,<br />
				Kraj u ognju bukti sad!<br />
				Prošlost svu zbrišimo za svagda,<br/>
				Ustaj, roblje, diži se!<br />
				Sav svijet iz temelja se mijenja,<br />
				Svoj bijedi sutra bit će kraj!<br />
			</em></p>
			<p>
				<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
				above.
			</p>
		</div>
		<ul role="list" class="link-card-grid">
			<Card
				href="glasanje"
				title="Glasanje"
				body="Direktna participatorna demokratija 👍"
			/>
			<Card
				href="knjige"
				title="Literatura"
				body="Manifesto tehnokratskog pokreta, kao i razne knjige u PDF i ePUB formatu"
			/>
			<Card
				href="plan"
				title="Ekonomija"
				body="Ekonomsko planiranje je moguće, pogledajte demonstraciju:"
			/>
			<Card
				href="blog"
				title="Blog"
				body="Redovno objavljujemo članke i novosti"
			/>
		</ul>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	img {
		border: 20px, solid, white;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.annotation {
		display: grid;
		grid-template-columns: 1fr 1fr;
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: var(--bg);
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.annotation code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.annotation strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 1rem;
		padding: 0;
	}

	@media screen and (max-width: 500px) {
		.annotation {
			grid-template-columns: 1fr;
		}
	}
</style>
