---

---


<nav class="navbar">
	<a href="/"><img src="CommunistPartyofCanadalogo_2018.png" draggable="false" height="75rem"></a>
	<ul>
		<li><button><a href="blog">Blog</a></button></li>
		<li><button><a href="knjige">Knjige</a></button></li>
		<li><button>bruh moment</button></li>
		<li><button>bruh moment that is very long</button></li>
		<li><button>bruh moment</button></li>
		<li><button>bruh moment</button></li>
	</ul>
</nav>

<style>
	ul {
		padding: 0.5rem;
		list-style: none;
	}
	button{
		font-size: 0.9rem;
		color: var(--link);
		border: 1px solid #aaa2;
		border-radius: 0.25em;
		background-color: #710318;
		width: 100%;
	}
	li {
		margin-bottom: 1rem;
		padding: 0.25em;
		text-align: center;
	}
	a {
		color: var(--link);
		text-decoration: none;
	}
	.navbar {
		text-align: center;
		width: 10rem;
		border-radius: 0.25em;
		position: absolute;
		height: calc(100vh - 1rem);
		float: right;
		background-color: #251019;
	}
	img {
		margin-top: 1rem;
	}
</style>
