---

---


<nav class="navbar">
	<ul>
		<li><img src="CommunistPartyofCanadalogo_2018.png" draggable="false" height="100vh"></li>
		<li><a href="blog">Blog</a></li>
		<li><a href="manifesto">Knjige</a></li>
		<li>bruh moment</li>
		<li>bruh moment</li>
		<li>bruh moment</li>
		<li>bruh moment</li>
	</ul>
</nav>

<style>
	ul {
		padding: 0.5rem;
		list-style: none;
	}
	li {
		color: #ffa;
		align-content: center;
		border: 1px solid #aaa2;
		border-radius: 0.25rem;
		background-color: #251019;
		margin-bottom: 2rem;
		text-align: center;
	}
	a {
		color: #ffa;
		text-decoration: none;
	}
	.navbar {
		border-radius: 0.25em;
		position: absolute;
		height: calc(100vh - 1rem);
		float: right;
		background-color: #251010;
		
	}
</style>
